@font-face {
    font-family: 'NeoDunggeunmoPro-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
    image-rendering: pixelated;
}
body {
    background-image: url(../230323_2.png);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'NeoDunggeunmoPro-Regular', 'Arial';
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}
header {
    height: 22px;
    background-color: #000;
    border-bottom: 1px solid #EEE;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background .1s ease-in-out;
    position: relative;
    font-family: 'NeoDunggeunmoPro-Regular';
}
.header-top ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    margin-left: 1px;
}
.small-logo {
    margin: auto;
    margin-top: 1px;

}
.header-top ul li {
    border-right: 1px solid #EEE;
}
.header-top ul .strm-tag {
    text-decoration: none!important;
    margin-right: 4px;
}
.item-right {
    height: 100%;
    line-height: 19px;
    padding: 0 6px;
    border-right: 1px solid #EEE;
    display: inline-block;
    text-decoration: none;
}
.header-top aside {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.item {
    height: 100%;
    line-height: 20px;
    padding: 0 6px;
    border-left: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    display: inline-block;
    text-decoration: none;
    margin-top: 2px;
}
.main-background {
    flex: 1;
    height: auto;
    overflow: hidden;
}
.main-background>div {
    margin-top: -1px;
    height: calc(100% + 1px);
    width: 100%;
}
.first-4-icons-absolute {
    position: absolute;
    top: 30px;
    right: 50px;
}
.first-4-icons-absolute ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}
.first-4-icons-absolute ul span {
    display: block;
    font-family: 'NeoDunggeunmoPro-Regular';
    font-size: 13px;
    padding: 0 2px;
    user-select: none;
    border: 1px solid #0000;
    color: white;
}
.first-4-icons-absolute ul li {
    pointer-events: all;
    width: 83px;
    height: 81px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.first-4-icons-absolute ul .image-wrapper {
    height: 35px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 7px;
}
.first-4-icons-absolute ul .image-wrapper img {
    max-height: 35px;
    display: block;
    margin: auto;
}
.center-img {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
#popup {
    font-family: 'NeoDunggeunmoPro-Regular';
}