* {
    margin: 0;
    box-sizing: border-box;
}

h2 {
    margin-top: 1rem;
    margin-left: 2rem;
}

body {
    font-family: Helvetica;
    background-color: #111;
}

footer {
    font-family: Helvetica;
    color: #7e7e7e;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-decoration: none;
    font-size: small;
}

footer a {
    color: #7e7e7e;
    text-decoration: none;
    font-size: small;
}

footer a:hover {
    color: #7e7e7e;
    text-decoration: none;
    font-size: small;
}

footer a:visited {
    color: #7e7e7e;
    text-decoration: none;
    font-size: small;
}

footer a:link {
    color: #7e7e7e;
    text-decoration: none;
    font-size: small;
}

footer a:active {
    color: #7e7e7e;
    text-decoration: none;
    font-size: small;
}

.copyrightlist {
    list-style: none;
}

.row__poster {
    width: 100%;
    object-fit: contain;
    max-height: 150px;
    margin-right: 10px;
    transition: transform 450ms;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.row__posters {
    display: flex;
    position: relative;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.row__poster:hover {
    transform: scale(1.00);
}

.row__posterLarge {
    max-height: 250px;
}

.row__posterLarge:hover {
    transform: scale(1.09)
}

.row {
    color: white;
    margin-left: 10px;
    font-size: small;
}

.row__posterSmall:hover {
    transform: scale(1.09)
}

img {
    cursor: pointer;
}

.description {
    display: none;
}

.row__posterLarge:hover .description {
    display:block;
}

.banner {
    background-image: url('netflix-images/63yMOyq8lQM.jpg');
    background-size: cover;
    background-position: center center;
    color: white;
    object-fit: contain;
    height: 600px;
}

.banner__contents {
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
}

.banner__title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
    margin-top: 15rem;
    margin-left: 2rem;
}

.banner__description {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 180px;
    margin-left: 2rem;
}

.banner__button {
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 10px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: rgba(51,51,51,0.5);
    margin-left: 2rem;
}

.banner__button:hover {
    color: black;
    background-color: #e6e6e6;
    transition: all 0.2s;
}

.banner__fadebottom {
    margin-top: 145px;
    height: 7.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(37,37,37,0.61), #111);
}

.nav__logo {
    width: 100px;
    object-fit: contain;
}

.nav__avatar {
    width: 30px;
    object-fit: contain;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav-member {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav-activity {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
    font-size: medium;
}

.nav__black {
    background-color: #111;
}

@media only screen and (max-width: 767px) {
    .banner__title {
        margin-left: 0.2rem;
    }
    
    .banner__description {
        margin-left: 0.2rem;
    }
    
    .banner__button {
        margin-left: 0.2rem;
    }

    .nav-member {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .nav-activity {
        font-size: small;
    }
    
    .first-row {
        padding-top: 5rem;
    }

    .container-acivity {
        padding-top: 25rem;
    }
}

.slider-container {
    width: 100%;
    overflow: hidden;
}

.slider {
    color: white;
    font-size: small;
    margin: 10px;
    white-space: nowrap;
    transition: transform 0.3s ease;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.slide {
    display: inline-block;
    width: 100%;
    height: 200px; /* Adjust the height as needed */
}

/* If you want to hide the default scroll bar, you can use the following CSS */
.slider-container::-webkit-scrollbar, .row__poster::-webkit-scrollbar, .row__posterLarge::-webkit-scrollbar, .slider::-webkit-scrollbar {
    display: none;
}

iframe {
  margin-left: 10px;
}